<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Register</h1>
      <br>
      <form (submit)="registerSubmit()">
        <div class="form-group">
          <input type="text" [(ngModel)]="firstname" name="firstname" placeholder="First name">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="lastname" name="lastname" placeholder="Last name">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="username"  name="username" placeholder="Username" required="true">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="email"  name="email" placeholder="Email" required="true">
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="password"  name="password" placeholder="Password" required="true">
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="password2"  name="password2" placeholder="Re-type password" required="true">
        </div>
        <input type="submit" name="login" class="login loginmodal-submit" value="Register">
      </form>
      <div class="login-help">
        Already have an account? - <a href="#">Login</a>
      </div>
    </div>
  </div>
</div>
