<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Login</h1>
      <br>
      <form>
        <div class="form-group">
          <input type="text" name="user" placeholder="Email" required="true">
        </div>
        <div class="form-group">
          <input type="password" name="pass" placeholder="* * * * * *" required="true">
        </div>

        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
      </form>
      <div class="login-help">
        <a href="#">Register</a> - <a href="#">Forgot password</a>
      </div>
    </div>
  </div>
</div>
