<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">MyApp</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/blog']">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" -->
        <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li><a [routerLink]="['/profile']">Profile</a></li>
        <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
        <li><a href="#" data-toggle="modal" data-target="#register-modal">Register</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Login -->
<app-login></app-login>
<!-- <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Login</h1>
      <br>
      <form>
          <input type="text" name="user" placeholder="Email" required="true">
          <input type="password" name="pass" placeholder="* * * * * *" required="true">

        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
      </form>
      <div class="login-help">
        <a href="#">Register</a> - <a href="#">Forgot password</a>
      </div>
    </div>
  </div>
</div> -->

<!-- Register -->
<app-register></app-register>
<!-- <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Register</h1>
      <br>
      <form>
        <div class="form-group">
          <input type="text" [(ngModel)]="firstname" name="firstname" placeholder="First name">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="lastname" name="lastname" placeholder="Last name">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="username"  name="username" placeholder="Username" required="true">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="email"  name="email" placeholder="Email" required="true">
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="password"  name="password" placeholder="Password" required="true">
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="password2"  name="password2" placeholder="Re-type password" required="true">
        </div>
        <input type="submit" name="login" class="login loginmodal-submit" value="Register">
      </form>
      <div class="login-help">
        Already have an account? - <a href="#">Login</a>
      </div>
    </div>
  </div>
</div> -->
