.nav>li>a:focus, .nav>li>a:hover {
  outline: none;
  border: 0;
}

nav.navbar.navbar-default.navbar-fixed-top {
  background: none;
}

.fa-chevron-circle-down {
  position: absolute;
  bottom: 10%;
  text-align: center;
  color: #fff;
}
