<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">MyApp</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/blog']">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" -->
        <li *ngIf="authenticateService.loggedIn()"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li *ngIf="authenticateService.loggedIn()"><a [routerLink]="['/profile']">Profile</a></li>
        <li *ngIf="!authenticateService.loggedIn()"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
        <li *ngIf="!authenticateService.loggedIn()"><a href="#" data-toggle="modal" data-target="#register-modal">Register</a></li>
        <li *ngIf="authenticateService.loggedIn()"><a href="#" (click)="logoutSubmit()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Login -->
<app-login></app-login>

<!-- Register -->
<app-register></app-register>
